* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.cell {
  border: 1px solid black;
  min-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.cell.open {
  background-color: white;
}
.cell.cover {
  background-color: gray;
}
.cell.mark {
  background-color: green;
}
.cell.blow {
  background-color: red;
}
.control {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.board_control .controls {
  border: 2px solid black;
  padding-top: 20px;
}